@use "../../../../../scss/variables" as v;

.header {
    background-color: v.$Semi-Dark-Blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.125rem 1rem;
    &__logo {
        width: 25px;
    }
    &__navbar {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        &-item {
            width: 16px;
            height: 16px;
            cursor: pointer;
            &:focus > img, &:hover > img {
                filter: brightness(3);
            }
            img {
                transition: filter .3s ease;
                width: 16px;
            }
        }
    }
    &__avatar {
        width: 24px;
        border: 1px solid v.$White;
        border-radius: 50%;
    }
}

.router-active {
    filter: brightness(3);
}

@media screen and (min-width: 768px) {
    .header {
        padding: 24px;
        margin: 23px 25px 0 25px;
        border-radius: 10px;
        &__logo {
            width: 32px;
        }
        &__navbar {
            gap: 2rem;
            &-item {
                width: 20px;
                height: 20px;
                img {
                    width: 20px;
                }
            }
        }
        &__avatar {
            width: 32px;
            border: 1px solid v.$White;
            border-radius: 50%;
        }
    }
}


@media screen and (min-width: 1024px) {
    .header {
        flex-direction: column;
        min-height: 90vh;
        width: 96px;
        position: fixed;
        left: 0;
        top: 0;
        margin: 32px;
        &__logo {
            width: 32px;
        }
        &__navbar {
            gap: 2rem;
            flex-direction: column;
            &-item {
                width: 20px;
                height: 20px;
                img {
                    width: 20px;
                }
            }
        }
        &__avatar {
            width: 32px;
            border: 1px solid v.$White;
            border-radius: 50%;
        }
    }
}


