@use "../../../../../scss/variables" as v;
@use "../../../../../scss/mixins" as mix;

.header {
    background-color: v.$Semi-Dark-Blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.125rem 1rem;
    &__logo {
        width: 25px;
    }
    &__navbar {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        &-item {
            @include mix.changeIconsColor();
        }
    }
    &__avatar {
        width: 24px;
        border: 1px solid v.$White;
        border-radius: 50%;
    }
}

.router-active {
    filter: brightness(10);
}

@media screen and (min-width: 768px) {
    .header {
        padding: 24px;
        margin: 23px 25px 0 25px;
        border-radius: 10px;
        &__logo {
            width: 32px;
        }
        &__navbar {
            gap: 2rem;
        }
        &__avatar {
            width: 32px;
            border: 1px solid v.$White;
            border-radius: 50%;
        }
    }
}

@media screen and (min-width: 1024px) {
    .header {
        flex-direction: column;
        min-height: 90vh;
        width: 96px;
        position: fixed;
        left: 0;
        top: 0;
        margin: 32px;
        justify-content: start;
        gap: 75px;
        &__logo {
            width: 32px;
        }
        &__navbar {
            gap: 2rem;
            flex-direction: column;
        }
        &__avatar {
            width: 32px;
            border: 1px solid v.$White;
            border-radius: 50%;
            margin-top: auto;
        }
    }
}