@use "../../../../../scss/variables" as v;

.tv-series {
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    &__recommended {
        display: flex;
        gap: .9375rem;
        flex-wrap: wrap;
    }
}