<section class="login">
    <header class="login__header">
        <img src="logo.svg" alt="">
    </header>

    <form class="login__form">
        <h1 class="login__form-title">{{ isLoginPage ? "Login" : "Sign Up"}}</h1>
        <div class="login__form-inputs">
            <div class="login__form-input-container">
                <input type="email" [class.invalid]="false" placeholder="Email address">
                <span class="error" *ngIf="false">Can't be empty</span>
            </div>
            <div class="login__form-input-container">
                <input type="password" [class.invalid]="false" placeholder="Password">
                <span class="error" *ngIf="false">Can't be empty</span>
            </div>
            <div class="login__form-input-container">
                <input *ngIf="!isLoginPage" type="password" [class.invalid]="false" placeholder="Repeat Password">
                <span class="error" *ngIf="false">Can't be empty</span>
            </div>
        </div>
        <div class="login__form-btns-container">
            <button type="button" class="login__form-submit-btn" (click)="isLoginPage ? teste1() : teste2()">
                {{ isLoginPage ? "Login to your account" : "Create an account" }}
            </button>
            <span class="login__form-sign-up-link">
                {{ isLoginPage ? "Don't have an account?" : "Already have an account?" }}
                <a 
                    [routerLink]="isLoginPage ? ['/register'] : ['/login'] ">
                    {{ isLoginPage ? "Sign up." : "Login." }}
                </a>
            </span>
        </div>
    </form>
</section>
