<section class="login">
    <header class="login__header">
        <img src="logo.svg" alt="">
    </header>

    <form class="login__form" [formGroup]="loginForm">
        <span class="login__form-login-info" [matTooltip]="tooltipMessage">
            <img src="circle-question-regular.svg" alt="">
        </span>

        <h1 class="login__form-title">{{ isLoginPage ? "Login" : "Sign Up"}}</h1>
        <div class="login__form-inputs">

            <div class="login__form-input-container">
                <input 
                    emailValidator 
                    type="email" 
                    [class.invalid]="email.touched && (email.hasError('required') || email.hasError('invalidEmailPattern'))" 
                    placeholder="Email address" 
                    formControlName="email">
                <span class="error" *ngIf="email.touched && email.hasError('required')">Can't be empty</span>
                <span class="error" *ngIf="!email.hasError('required') && email.hasError('invalidEmailPattern')">Invalid email</span>
            </div>

            <div class="login__form-input-container">
                <input 
                    type="password" 
                    [class.invalid]="password.touched && password.hasError('required')" 
                    placeholder="Password" 
                    formControlName="password">
                <span class="error" *ngIf="password.touched && password.hasError('required')">Can't be empty</span>
            </div>

            <div class="login__form-input-container">
                <input 
                    *ngIf="!isLoginPage" 
                    type="password" 
                    [class.invalid]="repeatPassword.touched && repeatPassword.hasError('required')"
                    placeholder="Repeat Password" 
                    formControlName="repeatPassword">
                <span class="error" *ngIf="repeatPassword.touched && repeatPassword.hasError('required')">Can't be empty</span>
                <span class="error" *ngIf="!repeatPassword.hasError('required') && password.value !== repeatPassword.value">Passwords don't match</span>
                <span 
                    class="login__form-invalid" 
                    *ngIf="loginForm.hasError('invalidCredentials')">
                        <img src="error.svg" alt="">
                        Invalid credentials.
                </span>
                <span 
                    class="login__form-invalid" 
                    *ngIf="loginForm.hasError('generalError')">
                        <img src="error.svg" alt="">
                        An error has occurred. Please try again later.
                </span>
                <span 
                    class="login__form-invalid" 
                    *ngIf="!isLoginPage && loginForm.hasError('userAlreadyExists')">
                        <img src="error.svg" alt="">
                        This email is already in use.
                </span>
            </div>
        </div>

        <div class="login__form-btns-container">
            <button 
                type="submit"
                class="login__form-submit-btn"
                [disabled]="(isLoginPage && (!email.valid || !password.valid)) || 
                            (!isLoginPage) && (!email.valid || !password.valid || !repeatPassword.valid || password.value !== repeatPassword.value)"
                (click)="isLoginPage ? login() : createAccount()">
                <ng-container *ngIf="!(_loadingService.loading$ | async); else spinner">
                    {{ isLoginPage ? "Login to your account" : "Create an account" }}
                </ng-container>
                <ng-template #spinner>
                    <div class="spinner">
                        <ngx-spinner
                            bdColor="transparent" size="small" color="#161D2F" type="ball-pulse" [fullScreen]="false">
                        </ngx-spinner>
                    </div>
                </ng-template>

            </button>
            <span class="login__form-sign-up-link">
                {{ isLoginPage ? "Don't have an account?" : "Already have an account?" }}
                <a 
                    [routerLink]="isLoginPage ? ['/register'] : ['/login'] ">
                    {{ isLoginPage ? "Sign up." : "Login." }}
                </a>
            </span>
        </div>
    </form>
</section>