<div class="media-card">
    <img [src]="media.thumbnail.regular.small" alt="" class="media-card__thumbnail">
    <div class="media-card__info">
        <div class="media-card__info-year-and-category">
            <span class="media-card__info-year">{{ media.year }}</span>
            <span class="media-card__info-category">
                <img 
                    [src]="media.category === 'Movie' ? 'icon-category-movie.svg' : 'icon-category-tv.svg'" alt="">
                {{ media.category }}
            </span>
            <span class="media-card__info-age-rating">{{ media.rating }}</span>
        </div>
        <strong class="media-card__info-name">{{ media.title }}</strong>
    </div>
    <button 
        (click)="bookmark(media)"
        class="media-card__bookmark-btn"
        [ngStyle]="{ 
            'background-image': media.isBookmarked ? 
                'url(icon-bookmark-full.svg)' : 
                'url(icon-bookmark-empty.svg)'
        }">
    </button>
    <button class="media-card__play-btn">
        <img src="icon-play.svg" alt="">
        <span>Play</span>
    </button>
</div>