@use "../../../../../scss/variables" as v;

.movies {
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    &__recommended {
        display: flex;
        gap: .9375rem;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media screen and (min-width: 768px) {
    .movies {
        padding: 1.5rem;
        gap: 2.0625rem;
        &__recommended {
            gap: 1.8125rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .movies {
        margin-top: 2.5rem;
        max-width: calc(98vw - 164px);
    }
    
}