<section class="browse">
    <app-search-bar></app-search-bar>

    <div class="browse__trending">
        <app-sections-title title="Trending"></app-sections-title>

        <swiper-container 
            #swiper
            loop="false" 
            grab-cursor="true"
            init="false"
            >
            <swiper-slide>
                <app-trending-card></app-trending-card>
            </swiper-slide>
            <swiper-slide>
                <app-trending-card></app-trending-card>
            </swiper-slide>
            <swiper-slide>
                <app-trending-card></app-trending-card>
            </swiper-slide>
            <swiper-slide>
                <app-trending-card></app-trending-card>
            </swiper-slide>
            <swiper-slide>
                <app-trending-card></app-trending-card>
            </swiper-slide>
            <swiper-slide>
                <app-trending-card></app-trending-card>
            </swiper-slide>
            <swiper-slide>
                <app-trending-card></app-trending-card>
            </swiper-slide>
            <swiper-slide>
                <app-trending-card></app-trending-card>
            </swiper-slide>
            <swiper-slide>
                <app-trending-card></app-trending-card>
            </swiper-slide>
            <swiper-slide>
                <app-trending-card></app-trending-card>
            </swiper-slide>
            <swiper-slide>
                <app-trending-card></app-trending-card>
            </swiper-slide>
            <swiper-slide>
                <app-trending-card></app-trending-card>
            </swiper-slide>
            <swiper-slide>
                <app-trending-card></app-trending-card>
            </swiper-slide>
            <swiper-slide>
                <app-trending-card></app-trending-card>
            </swiper-slide>
        </swiper-container>

    </div>

    <app-sections-title title="Recommended for you"></app-sections-title>

    <div class="browse__recommended">
        <app-media-card></app-media-card>
        <app-media-card></app-media-card>
        <app-media-card></app-media-card>
        <app-media-card></app-media-card>
    </div>
</section>
