@use "./scss/variables" as v;
@use "./scss/angular-material";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: v.$Outfit;
}

body {
    background-color: v.$Dark-Blue;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
