
@mixin bookmarkBtn() {
    width: 32px;
    height: 32px;
    position: absolute;
    top: .5rem;
    right: .5rem;
    border: none;
    background-color: #0000004d;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .3s ease;
    cursor: pointer;
    @media screen and (min-width: 768px) {
        width: 32px;
        top: 16px;
        right: 24px;
    }
}