
@mixin bookmarkBtn() {
    width: 32px;
    height: 32px;
    position: absolute;
    top: .5rem;
    right: .5rem;
    border: none;
    // background: #0000004d url(../assets/icon-bookmark-empty.svg) center no-repeat;
    background-color: #0000004d;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .3s ease;
    cursor: pointer;
}