@font-face {
    font-family: "Outfit";
    src: url(../assets/fonts/Outfit-VariableFont_wght.ttf);
}

$White: #ffffff;
$White-Opaque: #ffffff40;
$Red: #FC4747;
$Dark-Blue: #10141E;
$Greyish-Blue: #5A698F;
$Semi-Dark-Blue: #161D2F;
$Semi-Light-Dark-Blue: #212c49;
$Outfit: "Outfit", sans-serif;