<div class="trending-card">
    <picture>
        <source media="(min-width: 768px)" [srcset]="media.thumbnail.trending?.large" type="image/png">
        <img [src]="media.thumbnail.trending?.small" alt="" class="trending-card__thumbnail">
    </picture>
    <div class="trending-card__info">
        <div class="trending-card__info-year-and-category">
            <span class="trending-card__info-year"> {{ media.year }} </span>
            <span class="trending-card__info-category">
                <img src="icon-category-movie.svg" alt="">
                {{ media.category }}
            </span>
        </div>
        <strong class="trending-card__info-name">{{ media.title }}</strong>
        <span class="trending-card__info-age-rating">{{ media.rating }}</span>
    </div>
    <button 
        (click)="bookmark(media)"
        class="trending-card__bookmark-btn" 
        [ngStyle]="{ 
            'background-image': media.isBookmarked ? 
                'url(icon-bookmark-full.svg)' : 
                'url(icon-bookmark-empty.svg)'
        }">
    </button>
</div>