@use "../../../scss/variables" as v;

.dialog {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    position: relative;
    &__title {
        font-family: v.$Outfit;
        font-size: 1.15rem;
        line-height: 1;
        width: 100%;
        color: white;
        margin: 0;
        padding-bottom: 1rem;
    }
    &__icon {
        width: 30px;
        margin: auto;
    }
    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        &:focus > img, &:hover > img {
            border-color: v.$Red;
        }
    }
    &__close-icon {
        border: 2px solid transparent;
        border-radius: 50%;
        padding: 0.1rem;
        width: 20px;
        position: absolute;
        top: 15px;
        right: 15px;
        transition: border .3s ease;
    }

}
